# Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# Importing Data

In [2]:
path = r'C:\Users\bulle\Documents\Python-Instancart Basket Analysis'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products.checked.csv'), index_col = False)
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [3]:
orders_products_combined

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [4]:
df_prods

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...,...
49667,49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49668,49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49669,49690,49686,Artisan Baguette,112,3,7.8
49670,49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49671,49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [5]:
orders_products_combined.isnull().sum()

order_id                        0
user_id                         0
eval_set                        0
order_number                    0
order_dow                       0
order_hour_of_day               0
days_since_prior_order    2078068
product_id                      0
add_to_cart_order               0
reordered                       0
_merge                          0
dtype: int64

In [6]:
orders_products_combined.shape

(32434489, 11)

In [7]:
df_prods.isnull().sum()

Unnamed: 0       0
product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [8]:
df_prods.shape

(49672, 6)

In [9]:
#testing a merge for "order_products_combined" with "df_prods"
ords_prods_merged = orders_products_combined.merge(df_prods, on = 'product_id', how = 'right')

In [10]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,1,5.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8
1,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1,1.0,1.0,both,0,Chocolate Sandwich Cookies,61,19,5.8
2,389851.0,709.0,prior,2.0,0.0,21.0,6.0,1,20.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8
3,652770.0,764.0,prior,1.0,3.0,13.0,NaN,1,10.0,0.0,both,0,Chocolate Sandwich Cookies,61,19,5.8
4,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,1,11.0,1.0,both,0,Chocolate Sandwich Cookies,61,19,5.8

In [11]:
ords_prods_merged.drop(columns = ['Unnamed: 0'])

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,3139998.0,138.0,prior,28.0,6.0,11.0,3.0,1,5.0,0.0,both,Chocolate Sandwich Cookies,61,19,5.8
1,1977647.0,138.0,prior,30.0,6.0,17.0,20.0,1,1.0,1.0,both,Chocolate Sandwich Cookies,61,19,5.8
2,389851.0,709.0,prior,2.0,0.0,21.0,6.0,1,20.0,0.0,both,Chocolate Sandwich Cookies,61,19,5.8
3,652770.0,764.0,prior,1.0,3.0,13.0,NaN,1,10.0,0.0,both,Chocolate Sandwich Cookies,61,19,5.8
4,1813452.0,764.0,prior,3.0,4.0,17.0,9.0,1,11.0,1.0,both,Chocolate Sandwich Cookies,61,19,5.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404865,1788356.0,200215.0,prior,2.0,0.0,9.0,5.0,49688,27.0,0.0,both,Fresh Foaming Cleanser,73,11,13.5
32404866,3401313.0,200377.0,prior,1.0,4.0,11.0,NaN,49688,5.0,0.0,both,Fresh Foaming Cleanser,73,11,13.5
32404867,809510.0,200873.0,prior,5.0,3.0,8.0,15.0,49688,12.0,0.0,both,Fresh Foaming Cleanser,73,11,13.5
32404868,2359893.0,200873.0,prior,9.0,3.0,15.0,5.0,49688,11.0,1.0,both,Fresh Foaming Cleanser,73,11,13.5
32404869,2385091.0,205926.0,prior,11.0,1.0,15.0,6.0,49688,35.0,0.0,both,Fresh Foaming Cleanser,73,11,13.5

In [12]:
ords_prods_merged.isnull().sum()

order_id                       11
user_id                        11
eval_set                       11
order_number                   11
order_dow                      11
order_hour_of_day              11
days_since_prior_order    2076107
product_id                      0
add_to_cart_order              11
reordered                      11
_merge                         11
Unnamed: 0                      0
product_name                    0
aisle_id                        0
department_id                   0
prices                          0
dtype: int64

In [13]:
ords_prods_merged.shape

(32404870, 16)

In [14]:
orders_products_combined.shape

(32434489, 11)

In [15]:
# check "_merge"
ords_prods_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [16]:
orders_products_combined['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [17]:
#Export ords_prods_merged as "orders_products_merged.pkl"
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_produts_merged.pkl'))